$primaryColor: #98dbba;
$secondaryColor: #ffca45;
$destColor: #1c7f65;
$darkColor: #000;
$lightColor: #fff;
$greyColor: #8e8e9a;
$bgColor: #f2f9f6;

$font-body: 1rem;
$font-nav: 1rem;
$font-headline: 2.2rem;
$font-headline-min: 1.5rem;
$font-btn: 0.9rem;
$font-small: 0.9rem;

$font-type: "Barlow", Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$max-content: 1280px;

$headline: 40px;
$text-center: center;

$shadow-min: 0 0 .8rem 0 rgba(0, 0, 0, .1) !important;